@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');

#sidebar {
	overflow: hidden;
	position: fixed;
	top: 0;
	right: 0;
	height: 100%;
	width: 56px;

	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: space-between;

	background-color: #1E1E1E;
}

#sidebar div {
	display: flex;
	align-items: stretch;
	justify-content: space-around;
}

@media screen {
	body {
		width: calc(100% - 56px) !important;
	}

	#sidebar div {
		flex-direction: column;
	}
}


@media screen and (orientation: portrait) {
	#sidebar {
		height: 56px;
		width: 100%;

		flex-direction: row;
	}

	body {
		width: 100% !important;
		height: calc(100% - 56px) !important;
	}

	#editor {
		top: 56px;
	}

	#sidebar div {
		flex-direction: row;
	}
}

.formGroup {
	margin: 0.5em 0;
}

button,
input[type=submit] {
	border-radius: 0;
	background-color: #007acc;
	color: white;
	border: none;
	padding: 0.2em;

	font-family: inherit;
	font-size: inherit;
}

#fetchBaps .bap {
	margin: 0.5em 0;
}

#fetchBaps .bapText {
	margin: 0.25em;
	padding: 0.25em;
	border-radius: 0.5em;

	background-color: #00000044;

	font-family: monospace;
}

#fetchBaps .bapMeta {
	font-size: 0.8em;
}

#logRegSwitch {
	color: white;
}

/* SIDEBAR BUTTONS */
.button {
	font-size: 40px;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

	color: #CCCCCC;
}

.button .text {
	padding: 8px;
	display: block;
	text-align: right;
}

.button .icon {
	padding: 8px;
	text-align: center;
}

.button:hover {
	background-color: #5E5E5E;
}

dialog {
	border-radius: 8px;
	background-color: #2d2d30;
	color: #CCCCCC;
	font-family: 'Atkinson Hyperlegible', sans-serif;
	font-weight: 400;
	border: 0px;
	padding: 8px;
}

dialog .content {
	padding: 12px;
}

.buttons {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 16px;
}

.flexLeft {
	justify-content: left !important;
}

.flexRight {
	justify-content: right !important;
}

.close {
	all: unset;
	background-color: #00000000;
	border-radius: 100%;
	width: 1.4em;
	height: 1.4em;
	font-size: 1em;
	text-align: center;
	cursor: pointer;
}

.close:hover {
	background-color: #3e3e42;
}

html,
body,
#editor {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #1E1E1E;
	color: #CCCCCC;
	font-family: 'Atkinson Hyperlegible', sans-serif;
	font-weight: 400;
}