#sidebar {
	overflow: hidden;
	position: fixed;
	top: 0;
	right: 0;
	height: 100%; 
	width: 56px;

	display: flex;
	flex-direction: column;
	flex-flow: space-around;
	align-items: stretch;
	justify-content: space-between;

	background-color: #333;
}

.button {
	color: #fff;
	font-size: 40px;

	display: flex;
	flex-direction: row;
	flex-flow: space-around;
	align-items: end;
	justify-content: space-between;
}

.button .text {
	padding: 8px;
	display: block;
	text-align: right;
}

.button .icon {
	padding: 8px;
	align: center;
	text-align: center;
}

.button:hover {
	background-color: #555;
}

html, body, #editor {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

body {
	width: calc(100% - 56px) !important;
}
