<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
	<meta name="description" content="Upload code snippets and logs with a single drag-and-drop!" />
	<link rel="stylesheet" href="/static/main.css">
	<script src="https://unpkg.com/htmx.org@1.9.10"></script>
	<script src="https://kit.fontawesome.com/497f4f4907.js" crossorigin="anonymous"></script>
	{% if monaco %}
	<script src="https://unpkg.com/monaco-editor@0.45.0/min/vs/loader.js"></script>
	{% endif %}
	<title>Skebap</title>
</head>


<script>
	function setCookie(cname, cvalue, exdays) {
		const d = new Date();
		d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
		let expires = "expires=" + d.toUTCString();
		document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
	}

	function getCookie(cname) {
		let name = cname + "=";
		let decodedCookie = decodeURIComponent(document.cookie);
		let ca = decodedCookie.split(';');
		for (let i = 0; i <ca.length; i++) {
			let c = ca[i];
			while (c.charAt(0) == ' ') {
				c = c.substring(1);
			} if (c.indexOf(name) == 0) {
				return c.substring(name.length, c.length);
			}
		}
		return "";
	}
</script>

<body>
	<dialog id="login">
		<div class="buttons flexRight">
			<div onclick="closeAllDialogs()" class="close">X</div>
		</div>
		<div class="content">
			<form name="login" onSubmit="requestLogin()">
				<label for="email">Email:</label><br />
				<input type="text" name="email"><br />
				<label for="pass">Password:</label><br />
				<input type="password" name="pass" value=""><br /><br />
				<div class="buttons">
					<p onclick="openDialog('register')">Register</p>
					<input type="submit" value="Log in">
				</div>
			</form>
		</div>
	</dialog>

	<dialog id="register">
		<div class="buttons flexRight">
			<div onclick="closeAllDialogs()" class="close">X</div>
		</div>
		<div class="content">
			<form name="register" onSubmit="requestRegister()">
				<label for="email">Email:</label><br />
				<input type="text" name="email"><br />
				<label for="pass">Password:</label><br />
				<input type="password" name="pass" value=""><br /><br />
				<label for="passAgain">Repeat Password:</label><br />
				<input type="password" name="passAgain" value=""><br /><br />
				<div class="buttons">
					<p onclick="openDialog('login')">Log in</p>
					<input type="submit" value="Register">
				</div>
			</form>
		</div>
	</dialog>

	<dialog id="selfInfo">
		<div class="buttons flexRight">
			<div onclick="closeAllDialogs()" class="close">X</div>
		</div>
		<div class="content">
			<p id="selfMessage"></p>
			<div class="buttons flexLeft">
				<button onclick="fetchBaps()">Fetch Own Baps</button>
				<button onclick="setCookie('token', '', -1); closeAllDialogs();">Log Out</button>
			</div>
		</div>
	</dialog>

	<dialog id="fetchBaps">
	</dialog>

	<dialog id="bapInfo">
		<div class="buttons flexRight">
			<div onclick="closeAllDialogs()" class="close">X</div>
		</div>
		<div class="content">
			<p>sex asi</p>
		</div>
	</dialog>

	<div id="content">
		{% block content %}
		{% endblock %}
	</div>

<script>
	document.querySelectorAll("form").forEach(
		function(node) {
			node.addEventListener('submit', event => event.preventDefault());
		}
	);

	function closeAllDialogs() {
		return document.querySelectorAll("dialog").forEach(
			function(node) {
				node.close()
			}
		);
	}

	function openDialog(dialog) {
		closeAllDialogs();
		document.getElementById(dialog).showModal();
	}

	async function fetchLang(lang) {
		const response = await fetch(`/api/lang/${lang}/`, {
			method: "GET",
		});
	
		if (response.ok) {
			const json = await response.json();
			return {
				lang: json['lang'],
				display_name: json['display_name'],
				file_extension: json['file_extension'],
			};
		} else {
			console.error('Failed to fetch language data');
		}
	}

	function openUser() {
		if (getCookie('token') !== "") {
			fetch('/api/self', {
				method: "GET",
				headers: {
					"Authorization": "Bearer {token}"
						.replace("{token}", getCookie("token"))
				}
			})
				.then(response => {
					if (response.ok) {
						console.log("bruh");
						response.json().then(json => {
							document.getElementById("selfMessage").innerHTML = "You're currently logged in as {user}"
								.replace("{user}", json['email'])
							openDialog("selfInfo");
						})
					} else {
						alert(response.statusText);
						setCookie('token', '', -1)
						openDialog("login");
					}
			})
		} else {
			openDialog("login");
		}
	}

	function requestLogin() {
		const form = document.forms["login"]

		const email = form["email"].value
		const pass = form["pass"].value

		fetch('/api/token/', {
			method: "POST",
			body: "username={email}&password={pass}"
				.replaceAll("{email}", email)
				.replaceAll("{pass}", pass),
			headers: {
				"Content-type": "application/x-www-form-urlencoded",
			}
		})
			.then(response => {
				if (response.ok) {
					response.json().then(json => {
						setCookie("token", json['access_token'], 7);
					})
					closeAllDialogs()
				} else {
					alert(response.statusText)
				}
			})
	}

	function requestRegister() {
		const form = document.forms["register"]

		const email = form["email"].value
		const pass = form["pass"].value

		if (pass !== form["passAgain"].value) {
			alert("Passwords don't match!")
			form["pass"].value = "";
			form["passAgain"].value = "";
		} else {
			fetch('/api/register/', {
				method: "POST",
				body: JSON.stringify({
					email: email,
					password: pass
				}),
				headers: {
					"Content-type": "application/json; charset=UTF-8",
				}
			})
				.then(response => {
					if (response.ok) {
						response.json().then(json => {
							setCookie("token", json['access_token'], 7);
						})
						closeAllDialogs()
					} else {
						alert(response.statusText)
					}
				})
		}
	}

	async function fetchBaps() {
		const response = await fetch('/api/self/baps', {
			method: "GET",
			headers: {
				"Authorization": "Bearer {token}"
					.replace("{token}", getCookie("token"))
			}
		})

		if (response.ok) {
			const json = await response.json()
			let ret = [
				"<button onclick='closeAllDialogs()'>X</button>"
			]
			for (let key in json['baps']) {
				let bap = json['baps'][key];
				let bapLang = await fetchLang(bap.lang);
				let bapHTML = [
					"<div class='bap'>",
					"	<div class='bapText'>",
					bap.content,
					"	</div>",
					"	<div class='bapMeta'>",
					"		<div class='bapLang'>",
					`${bapLang.display_name} (${bapLang.file_extension})`,
					"		</div>",
					"		<div class='bapDate'>",
					bap.creation_time,
					"		</div>",
					"	</div>",
					"</div>",
				]
				ret.push(bapHTML.join('\n'));
			}
			document.getElementById("fetchBaps").innerHTML= ret.join('\n');
			openDialog("fetchBaps");
		} else {
			alert(response.statusText);
		}
	}

	function expandSide() {
		console.log('expandSide')
	}
	function collapseSide() {
		console.log('collapseSide')
	}
</script>

	<div id="sidebar">
		<div>
			<!-- <div style="color:white;word-break:break-all;">{{ request.url }}</div> -->
			<a href="/">
			<div class="button" id="new">
				<!--
				<div class="text">New Bap</div>
				-->
				<div class="icon"><i class="fas fa-file"></i></div>
			</div>
			</a>
			<div class="button" id="share" onclick="upload()">
				<!--
				<div class="text">Share Bap</div>
				-->
				<div class="icon"><i class="fas fa-share"></i></div>
			</div>
		</div>
		<div>
			<div class="button" id="account" onclick="openUser()">
				<!--
				<div class="text">Account</div>
				-->
				<div class="icon"><i class="fas fa-user"></i></div>
			</div>
			{% if editing is defined and editing %}
			<div class="button" id="settings" onclick="openDialog('bapSettings')">
				<div class="icon"><i class="fas fa-code"></i></div>
			</div>
			{% else %}
			<div class="button" id="settings" onclick="openDialog('bapInfo')">
				<div class="icon"><i class="fas fa-info"></i></div>
			</div>
			{% endif %}
		</div>
	</div>
</body>

</html>