<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover"/>
	<meta name="description" content="Upload code snippets and logs with a single drag-and-drop!" />
	<link rel="stylesheet" href="/static/main.css">
	<script src="https://unpkg.com/htmx.org@1.9.10"></script>
	<script src="https://kit.fontawesome.com/497f4f4907.js" crossorigin="anonymous"></script>
	{% if monaco %}
	<script src="https://unpkg.com/monaco-editor@0.45.0/min/vs/loader.js"></script>
	{% endif %}
	<title>Skebap</title>
</head>

	<script>
		function setCookie(cname, cvalue, exdays) {
			const d = new Date();
			d.setTime(d.getTime() + (exdays*24*60*60*1000));
			let expires = "expires="+ d.toUTCString();
			document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
		}

		function getCookie(cname) {
			let name = cname + "=";
			let decodedCookie = decodeURIComponent(document.cookie);
			let ca = decodedCookie.split(';');
			for (let i = 0; i <ca.length; i++) {
				let c = ca[i];
				while (c.charAt(0) == ' ') {
					c = c.substring(1);
				} if (c.indexOf(name) == 0) {
					return c.substring(name.length, c.length);
				}
			}
			return "";
		}
	</script>
<body>
	<dialog id="login">
		<button onclick="closeAllDialogs()">X</button>
		<form name="login" onSubmit="requestLogin()">
			<label for="email">Email:</label><br />
			<input type="text" id="loginEmail" name="email"><br />
			<label for="pass">Password:</label><br />
			<input type="password" id="loginPass" name="pass" value=""><br /><br />
			<div>
			<p onclick="openDialog('register')">Register</p>
			<input type="submit" value="Log in">
			</div>
		</form>
	</dialog>

	<dialog id="register">
		<button onclick="closeAllDialogs()">X</button>
		<form name="register" onSubmit="requestRegister()">
			<label for="email">Email:</label><br />
			<input type="text" id="registerEmail" name="email"><br />
			<label for="pass">Password:</label><br />
			<input type="password" id="registerPass" name="pass" value=""><br /><br />
			<div>
			<p onclick="openDialog('login')">Log in</p>
			<input type="submit" value="Register">
			</div>
		</form>
	</dialog>

	<dialog id="bapSettings">
		<button onclick="closeAllDialogs()">X</button>
		<button onclick="pickLang()" id="langOpenDropdown"></button>
		<div id="langDropdown" class="dropdown-content">

		</div>
	</dialog>

	<dialog id="bapInfo">
		<button onclick="closeAllDialogs()">X</button>
		<p>sex asi</p>
	</dialog>

	<div id="content">
		{% block content %}
		{% endblock %}
	</div>

<script>
	document.querySelectorAll("form").forEach(
		function(node) {
			node.addEventListener('submit', event => event.preventDefault());
		}
	);

	function closeAllDialogs() {
		document.querySelectorAll("dialog").forEach(
			function(node) {
				node.close()
			}
		);
	}
	
	function openDialog(dialog) {
		closeAllDialogs();
		document.getElementById(dialog).showModal();
	}

	function openUser() {
		if (getCookie('token') !== "") {
			console.log("bruh");
		} else {
			openDialog("login");
		}
	}

	function requestLogin() {
		const form = document.forms["login"]

		const email = form["email"].value
		const pass = form["pass"].value

		fetch('/api/token/', {
			method: "POST",
			body: "username={email}&password={pass}"
				.replaceAll("{email}", email)
				.replaceAll("{pass}", pass),
			headers: {
				"Content-type": "application/x-www-form-urlencoded",
			}
		})
			.then(response => {
				if (response.ok) {
					response.json().then(json => {
						setCookie("token", json['access_token'], 7);
					})
					closeAllDialogs()
				} else {
					alert(response.statusText)
				}
			})
	}

	function requestRegister() {
		const form = document.forms["register"]

		const email = form["email"].value
		const pass = form["pass"].value

		fetch('/api/register/', {
			method: "POST",
			body: JSON.stringify({
				email: email,
				password: pass
			}),
			headers: {
				"Content-type": "application/json; charset=UTF-8",
			}
		})
			.then(response => {
				if (response.ok) {
					response.json().then(json => {
						setCookie("token", json['access_token'], 7);
					})
					closeAllDialogs()
				} else {
					alert(response.statusText)
				}
			})
	}

	function expandSide() {
		console.log('expandSide')
	}
	function collapseSide() {
		console.log('collapseSide')
	}
</script>

	<div id="sidebar">
		<div>
			<a href="/">
			<div class="button" id="new">
				<!--
				<div class="text">New Bap</div>
				-->
				<div class="icon"><i class="fas fa-file"></i></div>
			</div>
			</a>
			<div class="button" id="share" onclick="upload()">
				<!--
				<div class="text">Share Bap</div>
				-->
				<div class="icon"><i class="fas fa-share"></i></div>
			</div>
		</div>
		<div>
			<div class="button" id="account" onclick="openUser()">
				<!--
				<div class="text">Account</div>
				-->
				<div class="icon"><i class="fas fa-user"></i></div>
			</div>
			<div class="button" id="settings" onclick="openBapMeta()">
				<!--
				<div class="text">Settings</div>
				-->
				<div class="icon"><i class="fas fa-code"></i></div>
			</div>
		</div>
	</div>
</body>

</html>
