{% extends "base.html" %}
{% block content %}
<button onclick="upload()">
xd
</button>
<div id="editor"></div>

<style>
    html, body, #editor {
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    body {
        width: calc(100% - 56px) !important;
    }
</style>

<script>
    // sources setup
    require.config({ paths: { 'vs': 'https://unpkg.com/monaco-editor@0.45.0/min/vs' }});
    window.MonacoEnvironment = { getWorkerUrl: () => proxy };

    let proxy = URL.createObjectURL(new Blob([`
    	self.MonacoEnvironment = {
    		baseUrl: 'https://unpkg.com/monaco-editor@0.45.0/min/'
    	};
    	importScripts('https://unpkg.com/monaco-editor@0.45.0/min/vs/base/worker/workerMain.js');
    `], { type: 'text/javascript' }));


    // editor init
    let editor

    require(["vs/editor/editor.main"], function () {
    	editor = monaco.editor.create(document.getElementById('editor'), {
    		//value: [
    		//	'function x() {',
    		//	'\tconsole.log("Hello world!");',
    		//	'}'
    		//].join('\n'),
    		//language: 'javascript',
        automaticLayout: true,
        minimap: {enabled: false, },
    		theme: 'vs-dark'
    	});
    });

    function upload() {
        fetch('/api/', {
            method: "POST",
            body: JSON.stringify({
                content: editor.getValue()
            }),
            headers: {
              "Content-type": "application/json; charset=UTF-8"
            }
        })
            .then(response => {
                if (response.ok) {
                    editor.setValue("")
                    response.json().then(json =>{
                        const new_url = '/bap/' + json['id']

                        htmx.ajax('GET', new_url, '#content')
                            .then(() => {
                                history.pushState(null, "", new_url)
                            })
                    })
                } else {
                    alert('ooopsssss')
                }
            })
    }


</script>
{% endblock %}
