{% extends "base.html" %}
{% block content %}
<div id="editor"></div>

<dialog id="bapSettings">
	<button onclick="closeAllDialogs()">X</button>
	<select id="langOption">
	</select>

	<!--
	<button onclick="pickLang()" id="langOpenDropdown"></button>
	<div id="langDropdown" class="dropdown-content">

	</div>
	-->
</dialog>

<script>
	// sources setup
	require.config({ paths: { 'vs': 'https://unpkg.com/monaco-editor@0.45.0/min/vs' } });
	window.MonacoEnvironment = { getWorkerUrl: () => proxy };

	let proxy = URL.createObjectURL(new Blob([`
    	self.MonacoEnvironment = {
    		baseUrl: 'https://unpkg.com/monaco-editor@0.45.0/min/'
    	};
    	importScripts('https://unpkg.com/monaco-editor@0.45.0/min/vs/base/worker/workerMain.js');
    `], { type: 'text/javascript' }));


	// editor init
	let editor
	let changeLang

	require(["vs/editor/editor.main"], function () {
		editor = monaco.editor.create(document.getElementById('editor'), {
			//value: [
			//	'function x() {',
			//	'\tconsole.log("Hello world!");',
			//	'}'
			//].join('\n'),
			//language: 'javascript',
			automaticLayout: true,
			minimap: { enabled: false, },
			theme: 'vs-dark'
		});
		changeLang = lang => {
			monaco.editor.setModelLanguage(editor.getModel(), lang);
			console.log(`model language was changed to ${editor.getModel().getLanguageIdentifier().language}`);
		}
	});

	function upload() {
		fetch('/api/', {
			method: "POST",
			body: JSON.stringify({
				content: editor.getValue(),
				lang: null
			}),
			headers: {
				"Content-type": "application/json; charset=UTF-8"
			}
		})
			.then(response => {
				if (response.ok) {
					editor.setValue("")
					response.json().then(json => {
						const new_url = '/bap/' + json['id'];

						// htmx.ajax('GET', new_url, '#content')
						//     .then(() => {
						//         history.pushState(null, "", new_url)
						//     })
						window.location.href = new_url;
					})
				} else {
					alert(response.statusText)
				}
			})
	}

	const langOpts = document.getElementById("langOption")

	langOpts.addEventListener("change", function () {
		changeLang(langOpts.item(langOpts.selectedIndex))
	})

	/**
	* Add a language option to language selector
	* @param {string} name
	* @param {string} value
	*/
	function addLanguageOption(name, value, ext) {
		let option = document.createElement("option")
		let nameNode = document.createTextNode("{name} ({ext})".replaceAll("{name}", name).replaceAll("{ext}", ext))

		option.appendChild(nameNode)
		option.setAttribute("value", value)
		langOpts.append(option)
	}

	fetch('/api/langs', {
		method: "GET",
	})
		.then(response => {
			if (response.ok) {
				response.json().then(json => {
					for (let key in json['langs']) {
						let lang = json['langs'][key];
						addLanguageOption(lang.display_name, lang.lang, lang.file_extension)
					}
				})
			} else {
				alert(response.statusText)
			}
		})

</script>
{% endblock %}