{% extends "base.html" %}
{% block content %}
<div id="editor"></div>

<script>


	// sources setup
	require.config({ paths: { 'vs': 'https://unpkg.com/monaco-editor@0.45.0/min/vs' } });
	window.MonacoEnvironment = { getWorkerUrl: () => proxy };

	let proxy = URL.createObjectURL(new Blob([`
        self.MonacoEnvironment = {
            baseUrl: 'https://unpkg.com/monaco-editor@0.45.0/min/'
        };
        importScripts('https://unpkg.com/monaco-editor@0.45.0/min/vs/base/worker/workerMain.js');
    `], { type: 'text/javascript' }));


	// editor init
	let editor

    require(["vs/editor/editor.main"], function () {
        editor = monaco.editor.create(document.getElementById('editor'), {
					value: "{{bap_content}}",
					readOnly: true,
        	automaticLayout: true,
        	minimap: {enabled: false, },
        	theme: 'vs-dark'
        });
    });
</script>

{% endblock %}